.logo-image {
    max-width: 7.5rem;
    height: 7.5em;
    position: relative;
}

.logo-image:hover {
    filter: drop-shadow(0px 0px 3px red);
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.nav-bar-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #121212;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: #121212;
    color: white;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #B22222;
}

.link {
    color: white;
    text-decoration: none;
    padding: 1rem;

}

.link:hover {
    color: #F4A261;
}


.nav-list-left {
    list-style: none;
    display: flex;
    margin: 0px;
    margin-left: 1rem;
    padding: 0px;
    flex-grow: 1;
    position: relative;
    gap: 2rem;
}

.nav-menu-socials,
.nav-menu-community,
.nav-menu-support,
.nav-menu-tools {
    min-height: 5rem;
    align-content: center;
    position: relative;
    font-size: min(2rem, 3vw);
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.nav-menu-socials {
    overflow: hidden;
    font-size: medium;
}

.nav-list:last-child {
    padding-right: 1vw;
}

.menu-links:link,
.menu-links:visited {
    color: white;
    text-decoration: none;
}

.menu-links:hover {
    filter: drop-shadow(0px 0px 2px red);
}

.icon {
    width: min(3rem, 4vw);
    object-fit: cover;
}

.icon:hover {
    filter: drop-shadow(0px 0px 2px red);
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.icon#twitter,
.icon#twitch {
    scale: .55;
}

.icon#youtube,
.icon#discord {
    scale: .75;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(5deg);
    }

    66% {
        transform: rotate(-5deg);
    }
}