#promo-div {
    max-height: 5rem;
    overflow: hidden;
    white-space: nowrap;
    width: 100vw;
    background-color: #282c34;
    color: white;
}

#promo-div-text {
    animation: scroll 10s linear infinite;
    padding-left: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-250vw);
    }
}